[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[home]
row=2
col=0

[Filesystem root]
row=0
col=0

[2f98adfb-1680-41e4-a837-0e078c247052]
row=1
col=0

[/]
row=3
col=0

[/home/ansibleuser1]
row=4
col=0

